Flask
Flask-SQLAlchemy
Flask-Cors
SQLAlchemy
requests
flask_request_validator
validators
wheel
Faker
flask-jwt
flask-jwt-extended
PyJWT
flask_restful
gunicorn
jsonschema
marshmallow
marshmallow_sqlalchemy
psycopg2-binary
python-abc
python-dotenv
exceptiongroup
Werkzeug
pytest
pytest-cov
pytest-mock
pytest-env