Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Cors==4.0.1
SQLAlchemy==2.0.32
psycopg2==2.9.9
requests==2.32.3
flask_request_validator==4.4.0
validators==0.33.0
wheel
Faker
flask-jwt
flask-jwt-extended
PyJWT
flask_restful
gunicorn
jsonschema
marshmallow
marshmallow_sqlalchemy
psycopg2-binary
python-abc
python-dotenv
exceptiongroup
Werkzeug
pytest
pytest-cov
pytest-mock
pytest-env